.nickname {
  font-size: 0.8rem;
  font-family: "Roboto Mono", monospace;
  color: var(--gray-300);
  margin-bottom: 1rem;
}

.reaction {
  padding: 0.60rem;
  width: 30%;
  border-radius: 8px;
  background: var(--green-500);
}